td {
	border: 1px solid black;

  border: 1px solid rgb(0, 0, 0) !important;
  padding: 1px !important;
  box-sizing: border-box;
}

table {
  border-collapse: collapse !important;
}

th {
  border: 1px solid rgb(0, 0, 0) !important;
}